body{
  margin:0;
  background:#000;
  color:#fff;
  font-family:'Poppins',sans-serif;
  text-align:center;
}

/* Center */
.center-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

/* Title */
.title{
  font-family:'Great Vibes',cursive;
  font-size:48px;
  color:#ff4d8d;
}

/* Chat */
.chat-box{
  padding:20px;
}

.msg{
  background:linear-gradient(45deg,#ff4d8d,#b19cd9);
  padding:15px;
  margin:10px;
  border-radius:15px;
  font-size:18px;
}

/* Typing */
.typing{
  width:60px;
  height:20px;
  background:#333;
  margin:10px;
  border-radius:10px;
}

/* Image */
.photo{
  width:260px;
  border-radius:20px;
}

/* Cake FULL */
.cake-screen{
  height:100vh;
  display:flex;
  flex-direction:column;
  justify-content:center;
}

.cake{
  font-size:200px;
  text-shadow:0 0 50px #ff4d8d;
}

#candle{
  font-size:60px;
  animation:flicker 0.5s infinite;
}

@keyframes flicker{
  0%{opacity:1;}
  50%{opacity:0.5;}
  100%{opacity:1;}
}

/* Letter */
.letter-box{
  margin:20px;
  padding:20px;
  background:#111;
  border-radius:15px;
  font-size:18px;
  line-height:1.8;
}

/* Buttons */
button{
  margin:15px;
  padding:14px 25px;
  border:none;
  border-radius:25px;
  background:linear-gradient(45deg,#ff4d8d,#b19cd9);
  color:white;
  font-size:16px;
}
